@model Filtros.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<div>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }
    @using (Html.BeginForm("login", "account", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Username)<br />
        @Html.EditorFor(m => m.Username) <br />
        @Html.LabelFor(m => m.Password)<br />
        @Html.EditorFor(m => m.Password) <br /><br />
        <input type="submit" value="Enviar" />
    }
</div>
